.work-section {
  &__title {
    margin-bottom: 20px;
    font-family: poppins;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.49;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $secondary-text-color;
  }
  &__container {
    display: flex;
    margin-bottom: 20px;
  }
  &__work-title {
    font-family: poppins;
    font-size: 20px;
    margin-bottom: 5px;
    color: $primary-text-color-darker;
  }
}
