.link-section {
  border-bottom: 1px solid $border-color;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &__link {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    transition: color 250ms $cubic-bezier;

    color: $primary-text-color-darker;
  }
  &__link:hover,
  &__link:focus {
    color: $secondary-text-color;
  }
  &__icon {
    margin-right: 15px;
    width: 24px;
    height: 24px;
    fill: $icon-color;
  }
}
