.project-section {
  &__title {
    font-family: poppins;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.49;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $secondary-text-color;
  }
  &__container {
    margin-bottom: 20px;
  }
  &__projects-title {
    font-family: poppins;
    font-size: 20px;
    margin-bottom: 20px;
    color: $primary-text-color-darker;
  }
  &__project {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__project:not(:last-child) {
    margin-bottom: 10px;
  }
  &__project-links {
    width: 20%;
  }
  &__project-link {
    cursor: pointer;
    font-weight: 500;
    padding: 5px 0;
    font-size: 18px;
    color: $primary-text-color-darker;
    transition: color 250ms $cubic-bezier;
  }

  &__project-link:hover,
  &__project-link:focus {
    color: $secondary-text-color;
  }
  &__technologies {
    width: 20%;
    padding-top: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    color: $primary-text-color-darker;
  }
  &__description {
    padding-top: 5px;
    width: 56%;
  }
}
