$body-background-color: #e5e5e5;
$border-color: #999999;
$primary-text-color: #666666;
$primary-text-color-darker: #333333;
$secondary-text-color: #157698;
$last-name-color: #a9a9a9;
$icon-color: #157698;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
